{%extends 'base.html' %}
{% block content %}
{% load static %}
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="style.css">
	<title></title>
	<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="icofont/icofont.min.css">
  <link rel="stylesheet" href="{%static 'css/aos.css' %}">
  <style>
        /* Custom styles to prevent unwanted movement */
        body {
            overflow-x: hidden; /* Prevent horizontal scrolling */
        }

        .card-body {
            transition: background-color 0.5s ease; /* Smooth background color transition */
        }
        
        /* Ensure card width consistency */
        .card {
            width: 23rem;
        }
    </style>
</head>
<body >
	<div class="row  text-light text-center pt-5 pb-7">
		<div class="col-md-12">
		<h1 class="display-1 text-info"><b><div data-aos="fade-down">Services</h1></b></div>
	</div>
</div>
<br><br><br><br><hr>
	<div class="container">
		<div class="row">
			<div class="col-md-6">
				<br><br><br><br><br>
				<h1>Securing Tomorrow's Digital Landscape Today:<br>Your Trusted Cybersecurity Partner</h1>
				<br>
				<h5>Trust our cybersecurity services to be your digital guardians,detecting and neutralizing potential threats before they breach your security.</h5>
				<br>
				<button type="submit" class="btn btn-primary btn-lg w-50 height-100 mb3-10">
						<i class="icofont-ui-head-phone border p-2 rounded-circle"></i>
						<br><div data-aos="flip-down"> customer support<br>(888) 9998-4555</div></button>
						</div>
				
				<div class="col-md-6">
					<div data-aos="fade-left"><img src={%static "images/sin.png"  %}></div>
					</div>
				</div>
			</div>
				</div>
			</div>
		
	<br><hr>
	<div class="container">
<div class="row  text-center" align="left">
		<div class="col-md-12 offset-md-12">
			<br><br><br><br>
			<div data-aos="fade-left"><img src={%static "images/soo.png"  %}></div>
	<p align="center"><h1><b><div data-aos="fade-up-right">No Matter Where You Go.</div><div data-aos="fade-up-left"> Be Security Smart.</div></b></h1></p>
</div>
</div>
</div>
<br><br>

<div class="container">
    <div class="row text-center" >
      <div class="col-md-4 text-center">
      	<div class="card border-info mb-3 " style="max-width: 23rem;"></div>
      	
         <div class="card shadow" style="width: 23rem;" rounded-pill circle>
 <center><img src="https://cdn3d.iconscout.com/3d/premium/thumb/man-using-secure-database-7637344-6741550.png" width="70%" height="70%"></img></center>
  <div class="card-body">
    <h4 class="card-title" align="center"><b>Latest<br> Attacks/Threats</b></h4>
    <p class="card-text" align="center"><h6>Cyber Security will help us to find
various open ports on a website<br> that we will include in our database.</p></h6>
  </div>
</div>
</div>



<div class="col-md-4">
	<div class="card border-info mb-3" style="max-width: 23rem;"></div>
<div class="card shadow" style="width: 23rem;"  rounded-pill circle>
  <center><img src="https://cdn3d.iconscout.com/3d/premium/thumb/man-using-cyber-security-tools-7637361-6741549.png?f=webp" width="60%" height="60%" align="center"></img></center>
  <br>
  <div class="card-body">
    <h4 class="card-title" align="center"><b>Port/Network <br>Scaning</b></h4>
    <p class="card-text"align="center"><h6>It includes the threats that have happened over the past year.<br>and the
ones that could prevail in the future.</p></h6>
  </div>
</div>
</div>


<div class="col-md-4">
	<div class="card border-info mb-3" style="max-width: 23rem;"></div>
<div class="card shadow" style="width: 23rem;"  rounded-pill circle>
  <center><img src="https://cdn3d.iconscout.com/3d/premium/thumb/man-using-secure-folder-7637341-6741553.png" width="70%" height="70%"></img></center>
  <div class="card-body" pl-5>
    <h4 class="card-title" align="center"><b>Suspicious<br>File Checking</b></h4>
<p class="card-text"align="center"><h6>Open source platform for checking whether the file<br>you’re trying to upload is secure or not.</p></h6>
  </div>
</div>
</div>
</div>
</div>


<div class="container">
    <div class="row text-center" >
      <div class="col-md-4 text-center">
      	<div class="card border-info mb-3 " style="max-width: 23rem;"></div>
      	
         <div class="card shadow" style="width: 23rem;" rounded-pill circle>
 <center><img src="https://cdn3d.iconscout.com/3d/premium/thumb/cyber-security-7743229-6786252.png?f=webp" width="50%" height="50%"></img></center>
 <div class="card-body" pl-5>
    <h4 class="card-title" align="center"><b>Suspicious<br>URL Checking </b></h4>
    <p class="card-text" align="center"><h6>It will scan the said URL thoroughly to uncover whatever<br> threats it is trying to hide.</p></h6>
  </div>
</div>
</div>



<div class="col-md-4">
	<div class="card border-info mb-3" style="max-width: 23rem;"></div>
<div class="card shadow" style="width: 23rem;"  rounded-pill circle>
  <center><img src="https://static.vecteezy.com/system/resources/previews/025/003/641/non_2x/experience-secure-computing-with-our-3d-icon-protect-your-data-and-online-activities-with-advanced-security-features-free-png.png" width="45%" height="45%" align="center"></img></center>
  <br>
  <div class="card-body">
    <h4 class="card-title" align="center"><b>Attacks Type/Security<br>Guidelines</b></h4>
    <p class="card-text"align="center"><h6>Malware, Virus, Trojan Horse, Adware , Hacking,<br>Spamming, SQL
Injections, Phishing etc.</p></h6>
  </div>
</div>
</div>


<div class="col-md-4">
	<div class="card border-info mb-3" style="max-width: 23rem;"></div>
<div class="card shadow" style="width: 23rem;"  rounded-pill circle>
  <center><img src="https://static.vecteezy.com/system/resources/previews/025/003/648/original/secure-and-protected-the-3d-rendered-server-icon-showcases-stability-and-security-with-its-modern-and-robust-design-free-png.png" width="50%" height="50%"></img></center>
  <div class="card-body" pl-5>
    <h4 class="card-title" align="center"><b>Server Detail<br>Banner Grabbing</b></h4>
<p class="card-text"align="center"><h6>Banner grabbing technique is used to gain<br> information<br> about the
website.</p></h6>
  </div>
</div>
</div>
</div>
</div>




<div class="container">
    <div class="row text-center" >
      <div class="col-md-4 text-center">
      	<div class="card border-info mb-3 " style="max-width: 23rem;"></div>
      	
         <div class="card shadow" style="width: 23rem;" rounded-pill circle>
 <center><img src="https://cdn3d.iconscout.com/3d/premium/thumb/phishing-web-7263073-5966265.png?f=webp"
 	height="50%" width="50%"></img></center>
 	<div class="card-body" pl-5>
    <h4 class="card-title" align="center"><b>List of Phishing<br>Websites</b></h4>
    <p class="card-text" align="center"><h6>InfoSec IQ, go phish, Lucy, simple phishing toolkit,<br> phishing frenzy, king
phisher etc.</p></h6>
  </div>
</div>
</div>



<div class="col-md-4">
	<div class="card border-info mb-3" style="max-width: 23rem;"></div>
<div class="card shadow" style="width: 23rem;"  rounded-pill circle>
  <center><img src="https://cdn3d.iconscout.com/3d/premium/thumb/man-using-mobile-security-7637358-6741546.png" width="70%" height="70%" align="center"></img></center>
  <br>
  <div class="card-body">
    <h4 class="card-title" align="center"><b>Security tool<br>Intruder</b></h4>
    <p class="card-text"align="center"><h6>Bitdefender total security, Malwarebytes, mime cast, CIS,<br> Snort, Wireshark, Web
root , Gnupg etc</p></h6>
  </div>
</div>
</div>


<div class="col-md-4">
	<div class="card border-info mb-3" style="max-width: 23rem;"></div>
<div class="card shadow" style="width: 23rem;"  rounded-pill circle>
  <center><img src="https://static.vecteezy.com/system/resources/thumbnails/008/879/448/small_2x/3d-concept-of-media-file-management-searching-image-and-video-files-in-database-document-management-soft-document-flow-app-compound-docs-concept-3d-rendering-magnifying-free-png.png" width="80%" height="80%"></img></center>
  <div class="card-body" pl-5>
    <h4 class="card-title" align="center"><b>Cyber Security<br>Laws</b></h4>
<p class="card-text"align="center"><h6>To provide legal recognition for all e-transactions. Cyber law<br> “law governing cyber
space”.</p></h6>
  </div>
</div>
</div>
</div>
</div>


<br><br><br><hr>
<script src="{%static 'js/aos.js' %}"></script>
<script>
AOS.init()
</script> 
</body>
</html>
{% endblock %}